{% extends "base.html" %}
{% block content %}

<div class="list-group">

    {% for items in item %}
    {% if items.quantity >= 50 %}
    <div class="col-4">
    <a href="{% url 'sold_item' items.id %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-20 justify-content-between">
      <h5 class="mb-1">{{items.item_name}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<small style="color:green">{{items.quantity}}</small></h5>
      <small>${{items.price}}</small>

    </div>
    </a>
     </div>
    {% else %}
    <div class="alert alert-danger" >
    <a href="{% url 'sold_item' items.id %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-20 justify-content-between" >
      <h5 class="mb-1">{{items.item_name}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<small style="color:green">{{items.quantity}}</small></h5>
      <small>${{items.price}}</small>

    </div>
    </a>
     </div>
    {% endif %}
   {% endfor %}

</div>

{% endblock %}